body {
  font-family: 'Inter', sans-serif;
  background-color: #F1FAEE;
  margin: 0;
}

main {
  background-color: #F1FAEE;
}

/* Tabs */
.tab-button {
  padding: 0.5rem 0;
  font-weight: 600;
  font-size: 1.125rem;
  flex: 1;
  text-align: center;
}

.tab-active {
  background-color: #e0e7ff; /* light indigo */
  color: #1e3a8a; /* dark indigo */
  border-top-left-radius: 1rem;
}

.tab-inactive {
  background-color: #f1f5f9; /* soft gray */
  color: #64748b; /* slate gray */
  border-top-right-radius: 1rem;
}

/* Navigation bar */
.navbar {
  display: flex;
  justify-content: space-around;
  background-color: #f1f5f9;
  color: #475569;
  padding: 0.75rem 0;
  border-top: 1px solid #e2e8f0;
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.875rem;
}

.bot-nav-bar {
  position: fixed;          
  bottom: 0;               
  left: 0;                 
  width: 100%;             
  z-index: 50;              
  background-color: #e0f0ff;
  border-top: 1px solid #bfdbfe; 
  box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06); 
}




.nav-active {
  font-weight: 600;
  color: #0f172a; /* very dark slate */
}

/* Map icon rings */
.icon-ring-green {
  border: 3px solid #22c55e; /* green-500 */
  border-radius: 50%;
  padding: 2px;
  background-color: white;
}

.icon-ring-blue {
  border: 3px solid #3b82f6; /* blue-500 */
  border-radius: 50%;
  padding: 2px;
  background-color: white;
}

/* Buttons */
.button-primary {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #3E5C76;
  border: none;
  border-radius: 20px;
  color: #fff;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  cursor: pointer;
  width: 100%;
  text-align: center;
  font-weight: 600;
  transition: background-color 0.3s;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  margin-bottom: 10px;
}

.button-primary:hover {
  background-color: #1D3354; /* blue-600 */
}

.button-secondary {
  background-color: #fff;
  border: none;
  border-radius: 20px;
  color: #3E5C76;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  cursor: pointer;
  width: 100%;
  text-align: center;
  font-weight: 600;
  transition: background-color 0.3s;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  margin-bottom: 30px;
}

.button-secondary:hover {
  background-color: #E9ECEF;
}

.filter-group {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}


.filter-select {
  width: 170px;
  height: 40px; /* Set a fixed height */
  padding: 0 12px; /* Ensure consistent padding */
  font-size: 14px; /* Set a consistent font size */
  font-weight: bold;
  color: #3E5C76;
  border-radius: 4px; /* Optional: Adds rounded corners */
  border: 1px solid #ccc; /* Optional: Add border styling */
  margin-left: 30px;
  margin-right: 30px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.filter-bar {
  display: flex;
  gap: 12px; /* Add some space between the selects */
  flex-wrap: wrap; /* Ensures elements wrap on smaller screens */
  align-items: center; /* Vertically align items */
}


.location-card {
  background-color: #ffffff;          
  padding: 1rem;                       
  border-radius: 0.75rem;             
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}

.button-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.button-content .but-icon2 {
  width: 17px;
  height: auto;
  margin-right: 10px;
}